* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  width: 100%;
  border: none;
  position: relative;
  color: #651A16;
  font-size: 18px;
  border-radius: 10px;
  background: rgba(255, 228, 84, 0.2); }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #651A16; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #651A16; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #651A16; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #651A16; }

.error select, .error input {
  color: #FD3D21;
  border: 1px solid #FD3D21; }
  .error select::-webkit-input-placeholder, .error input::-webkit-input-placeholder {
    color: #FD3D21; }
  .error select::-moz-placeholder, .error input::-moz-placeholder {
    color: #FD3D21; }
  .error select::-ms-input-placeholder, .error input::-ms-input-placeholder {
    color: #FD3D21; }
  .error select::placeholder, .error input::placeholder {
    color: #FD3D21; }

select {
  background: rgba(255, 228, 84, 0.2) url("../img/arrow-bottom.svg") no-repeat calc(100% - 35px) center;
    background-size: 12px; }

label {
  display: block;
  width: 100%;
  margin: 0 0 15px; }

.consent {
  font-size: 18px;
  background: linear-gradient(58.61deg, #FD3D21 0%, #F9BD23 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 0 auto;
  max-width: 200px;
  width: 100%; }

.form-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0; }

.form {
  max-width: 420px;
  width: 100%; }

strong {
  font-weight: 600;
  display: inline-block; }

h1 {
  font-size: 80px;
  font-family: "Anton", sans-serif;
  color: #FFE454;
  width: 100%;
  margin: 0 0 15px;
  line-height: 1.3; }

h2 {
  text-transform: lowercase;
  width: 100%;
  font-family: "Anton", sans-serif;
  font-size: 50px;
  line-height: 1.3;
  margin: 0 0 65px;
  background: linear-gradient(58.61deg, #FD3D21 0%, #F9BD23 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.subtitle {
  font-size: 20px; }

.price {
  color: #FFE454;
  font-size: 18px; }
  .price p {
    font-weight: 600;
    color: #fff; }

.new-price {
  font-size: 37px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase; }

.old-price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  padding: 12px 47px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  height: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .btn:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    height: 100%;
    width: 130px;
    z-index: -2;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    background: #FFE454;
    border-radius: 30px; }
  .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-accent {
  color: #fff; }
  .btn-accent:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    background: linear-gradient(58.61deg, #FD3D21 0%, #F9BD23 100%); }
  .btn-accent:hover {
    font-weight: 600;
    color: #fff; }
    .btn-accent:hover:before {
      background: linear-gradient(58.61deg, #EC1E00 0%, #FFF500 100%); }
    .btn-accent:hover:after {
      -webkit-filter: blur(50px);
              filter: blur(50px); }
  .btn-accent:focus {
    color: #fff;
    font-weight: 600; }
    .btn-accent:focus:before {
      background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
      background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%); }
    .btn-accent:focus:after {
      background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
      background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
      -webkit-filter: blur(50px);
              filter: blur(50px); }

.btn-blue {
  color: #fff; }
  .btn-blue:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%); }
  .btn-blue:after {
    background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    opacity: 0.5; }
  .btn-blue:hover {
    font-weight: 600;
    color: #fff; }
    .btn-blue:hover:before {
      background: -webkit-gradient(linear, left top, right top, from(#00FF66), to(#0075FF));
      background: linear-gradient(90deg, #00FF66 0%, #0075FF 100%); }
    .btn-blue:hover:after {
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 1; }
  .btn-blue:focus {
    color: #fff;
    font-weight: 600; }
    .btn-blue:focus:before {
      background: linear-gradient(58.61deg, #EC1E00 0%, #FFF500 100%); }
    .btn-blue:focus:after {
      background: #FFE454;
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 1; }

.container {
  max-width: 1330px; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

header {
  padding: 10px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: none;
  margin: 0 auto 0 0; }
  .menu li {
    margin: 0 40px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #fff; }

main {
  position: relative;
  padding: 70px 0 150px; }
  main:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1174px;
    height: 1043px;
    background: url("../img/bg1.png") no-repeat center top;
      background-size: 100%; }

.main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 1;
  max-width: 330px;
  width: 100%;
  margin: 0 0 0 auto; }
  .main-img:before {
    content: '';
    position: absolute;
    background: #FFE454;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    opacity: .5;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: -1;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .main-img img {
    width: 100%; }

.sale-box {
  position: absolute;
  top: 79px;
  left: -50px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  color: #fff; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff; }

.advantages {
  margin: 40px 0 50px;
  max-width: 420px;
  width: 100%;
  font-size: 18px; }
  .advantages li {
    margin: 0 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .advantages li:last-child {
      margin: 0; }

.advantages-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #fff;
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin: 0 10px 0 0;
  position: relative;
  z-index: 1; }
  .advantages-icon img {
    z-index: 1; }
  .advantages-icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%; }
  .advantages-icon:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: linear-gradient(58.61deg, #D0280F 0%, #E4A400 100%);
    -webkit-filter: blur(15px);
            filter: blur(15px);
    width: 100%;
    height: 100%;
    z-index: -1; }

.stages-order {
  padding: 100px 0; }

.section-decor-bg1 {
  position: relative; }
  .section-decor-bg1:after {
    content: '';
    position: absolute;
    height: 826px;
    width: 550px;
    background: url("../img/bg2.png") no-repeat center;
      background-size: 100%;
    z-index: -1;
    right: -350px;
    top: 0; }

.stages-order-box {
  text-align: center;
  color: #651A16;
  font-size: 18px;
  position: relative; }
  .stages-order-box:before {
    content: '';
    position: absolute;
    top: 65px;
    right: -35px;
    width: 50px;
    height: 2px;
    background: linear-gradient(58.61deg, #FD3D21 0%, #F9BD23 100%); }
  .stages-order-box p {
    max-width: 260px;
    width: 100%;
    margin: 0 auto; }

.stages-order-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #fff;
  width: 130px;
  height: 130px;
  position: relative;
  z-index: 1;
  margin: 0 auto 15px;
  padding: 40px 35px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }
  .stages-order-box__icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
    z-index: 1; }
  .stages-order-box__icon:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(58.61deg, #D0280F 0%, #E4A400 100%);
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: .2;
    z-index: -1;
    border-radius: 50%; }
  .stages-order-box__icon .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .stages-order-box__icon:hover:before {
    background: linear-gradient(58.61deg, #FD3D21 0%, #F9BD23 100%); }

.stages-order-box1 .icon {
  background: url("../img/edit.svg") no-repeat center;
    background-size: contain; }

.stages-order-box1:hover .icon {
  background: url("../img/edit-hover.svg") no-repeat center;
    background-size: contain; }

.stages-order-box2 .icon {
  background: url("../img/verify.svg") no-repeat center;
    background-size: contain; }

.stages-order-box2:hover .icon {
  background: url("../img/verify-hover.svg") no-repeat center;
    background-size: contain; }

.stages-order-box3 .icon {
  background: url("../img/secure.svg") no-repeat center;
    background-size: contain; }

.stages-order-box3:hover .icon {
  background: url("../img/secure-hover.svg") no-repeat center;
    background-size: contain; }

.stages-order-box4:before {
  display: none; }

.stages-order-box4 .icon {
  background: url("../img/dollar.svg") no-repeat center;
    background-size: contain; }

.stages-order-box4:hover .icon {
  background: url("../img/dollar-hover.svg") no-repeat center;
    background-size: contain; }

.service {
  padding: 150px 0; }

.service-box {
  position: relative;
  z-index: 1;
  width: calc(100% - 20px);
  margin: 0 0 0 auto;
  height: 100%;
  border-radius: 30px;
  color: #fff;
  padding: 20px; }
  .service-box:before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 76px);
    background: linear-gradient(58.61deg, #FD3D21 0%, #F9BD23 100%);
    border-radius: 30px;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .service-box:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 56px;
    background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    width: 200px;
    height: 200px;
    border-radius: 30px;
    opacity: .5;
    z-index: -2; }
  .service-box h3 {
    color: #FFE454;
    font-size: 30px;
    width: 100%;
    text-transform: lowercase;
    line-height: 1;
    margin: 0 0 10px;
    font-family: "Anton", sans-serif; }
  .service-box .box-text {
    font-size: 18px;
    line-height: 22px; }
    .service-box .box-text p {
      margin: 0 0 20px; }
      .service-box .box-text p:last-child {
        margin: 0; }

.font-16 .box-text {
  font-size: 16px; }

.service-box__img {
  width: 100%;
  margin: 0 auto 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .service-box__img img {
    max-height: 250px; }

.img-item {
  position: absolute;
  left: 30px;
  bottom: 10px;
  -webkit-filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.2)); }

.formula {
  padding: 0 0 120px; }

.formula-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

.section-decor-bg2 {
  position: relative; }
  .section-decor-bg2:before {
    content: '';
    position: absolute;
    left: -390px;
    top: -50px;
    width: 550px;
    height: 826px;
    background: url("../img/bg3.png") no-repeat center;
      background-size: 100%; }

.formula-img-product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 256px;
  z-index: 1; }
  .formula-img-product:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 79px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border-radius: 50%;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    background: #FFE454;
    opacity: .5;
    width: 271px;
    height: 271px;
    z-index: -1; }
  .formula-img-product img {
    width: 100%; }

.formula-img__decor {
  position: absolute;
  max-width: 458px;
  width: 100%;
  z-index: -1;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.formula-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .formula-content h2 {
    margin: 0 0 30px; }
  .formula-content .box-text {
    color: #651A16;
    font-size: 25px; }

.box-text p {
  margin: 0 0 20px; }
  .box-text p strong {
    display: inline; }
  .box-text p:last-child {
    margin: 0; }

.instruction-work {
  padding: 150px 0; }
  .instruction-work h2 {
    text-transform: none; }

.instruction-work-wrapper {
  position: relative;
  width: 100%;
  z-index: 1; }
  .instruction-work-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: -67px;
    width: 100%;
    height: 582px;
    background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    -webkit-transform: rotate(-6.87deg);
            transform: rotate(-6.87deg);
    border-radius: 50px;
    opacity: .5; }
  .instruction-work-wrapper h2 {
    margin: 0 auto 30px;
    text-align: center;
    color: #fff;
    background: transparent;
    background-clip: initial;
    -webkit-text-fill-color: initial; }
    .instruction-work-wrapper h2 span {
      display: block; }

.color-accent {
  color: #FFE454; }

.instruction-work-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 50px 110px 74px;
  z-index: 1;
  background: linear-gradient(58.61deg, #FD3D21 0%, #F9BD23 100%);
  border-radius: 50px; }
  .instruction-work-content:before {
    content: '';
    position: absolute;
    right: -100px;
    top: 110px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: 100%;
    width: 633px;
    height: 892px; }

.video-js {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  overflow: hidden; }

.instruction-work-video {
  position: relative;
  width: 100%;
  height: 450px; }

.btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 83px;
  height: 83px;
  background: url("../img/play.svg") no-repeat center;
    background-size: 100%; }
  .btn-play:hover {
    background: url("../img/play-hover.svg") no-repeat center;
      background-size: 100%; }

.about {
  padding: 70px 0 200px; }
  .about h2 {
    margin: 0 0 30px;
    max-width: 420px;
    width: 100%; }

.about-photo {
  position: relative;
  max-width: 424px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px 0 auto; }

.about-photo-decor {
  position: absolute; }

.about-photo-decor1 {
  width: 300px;
  height: 300px;
  background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  opacity: .5;
  border-radius: 30px;
  top: 58px;
  right: -73px;
  z-index: -1;
  overflow: hidden; }
  .about-photo-decor1:before {
    content: '';
    position: absolute;
    width: 633px;
    height: 892px;
    background: url("../img/decor2.png") no-repeat center;
      background-size: 100%;
    opacity: 1;
    top: -127px;
    right: -95px; }

.about-photo-decor2 {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 490px;
  height: 523px;
  background: linear-gradient(58.61deg, #FD3D21 0%, #F9BD23 100%);
  border-radius: 30px;
  z-index: -1;
  overflow: hidden; }
  .about-photo-decor2:before {
    content: '';
    position: absolute;
    width: 633px;
    height: 892px;
    background: url("../img/decor2.png") no-repeat center;
      background-size: 100%;
    opacity: 1;
    bottom: -150px;
    left: 2px; }

.about-content .box-text {
  color: #651A16;
  font-size: 25px; }
  .about-content .box-text .color-gradient {
    font-weight: bold; }
  .about-content .box-text p {
    margin: 0 0 30px; }

.color-gradient {
  background: linear-gradient(58.61deg, #FD3D21 0%, #F9BD23 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.name-author {
  margin: 30px 0 0;
  font-size: 18px;
  color: #651A16; }

.recommended {
  padding: 20px 0 150px; }
  .recommended h2 {
    margin: 0 0 40px; }

.recommended-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.recommended-img {
  max-width: 630px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.reviews {
  padding: 0 0 100px; }

.reviews-box {
  position: relative;
  z-index: 1;
  width: calc(100% - 20px);
  margin: 0 0 0 auto;
  height: 100%;
  border-radius: 30px;
  color: #fff;
  padding: 40px 20px 48px; }
  .reviews-box:before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 20px);
    background: linear-gradient(58.61deg, #FD3D21 0%, #F9BD23 100%);
    border-radius: 30px;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .reviews-box:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    width: 200px;
    height: 200px;
    border-radius: 30px;
    opacity: .5;
    z-index: -2; }
  .reviews-box h3 {
    color: #FFE454;
    font-size: 30px;
    width: 100%;
    text-transform: lowercase;
    line-height: 1;
    margin: 0 0 10px;
    font-family: "Anton", sans-serif; }
  .reviews-box .box-text {
    font-size: 18px;
    line-height: 22px; }
    .reviews-box .box-text p {
      margin: 0 0 20px; }
      .reviews-box .box-text p:last-child {
        margin: 0; }

.reviews-box-photos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 0 20px;
  border-radius: 30px 30px 0 0;
  overflow: hidden; }

.reviews-box-photo {
  width: 50%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .reviews-box-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.reviews-box-photo__title {
  position: absolute;
  padding: 5px 10px;
  color: #101010;
  font-size: 20px;
  text-transform: lowercase;
  font-family: "Anton", sans-serif;
  left: 0;
  bottom: 0; }

.stages-order-two:before {
  left: -425px;
  top: -100px; }

.stages-order-two .btn {
  margin: 0 0 0 auto; }

.instruction-work-two .box-text {
  color: #fff;
  text-align: center;
  margin: 0 auto 50px;
  max-width: 878px;
  width: 100%;
  font-size: 20px; }

.instruction-work-slider {
  width: 100%;
  padding: 0 50px; }

.instruction-work-box {
  margin: 0 auto;
  max-width: 310px;
  width: 100%;
  height: 370px;
  border-radius: 30px;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 5px 40px rgba(231, 127, 31, 0.5));
          filter: drop-shadow(0px 5px 40px rgba(231, 127, 31, 0.5)); }
  .instruction-work-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 41px;
  height: 41px;
  border-radius: 50%;
  padding: 0;
  border: none; }

.slick-next {
  right: 0;
  background: url("../img/arrow-right.svg") no-repeat center;
    background-size: 100%; }

.slick-prev {
  left: 0;
  background: url("../img/arrow-left.svg") no-repeat center;
    background-size: 100%; }

.callback {
  padding: 0 0 120px; }
  .callback h2 span {
    text-transform: none;
    display: block;
    color: #FFE454;
    -webkit-text-fill-color: initial; }

.callback-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .callback-img:after {
    content: '';
    top: 141px;
    left: 30px;
    position: absolute;
    width: 458px;
    height: 339px;
    background: url("../img/formula.png") no-repeat center;
      background-size: 100%; }
  .callback-img .price {
    margin: auto 0 83px 0; }
    .callback-img .price p {
      color: #651A16; }
  .callback-img .old-price, .callback-img .new-price {
    background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .callback-img .old-price {
    position: relative; }
    .callback-img .old-price:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
      background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
      z-index: 1; }

.callback-img-wrap {
  position: relative;
  max-width: 330px;
  width: 100%;
  z-index: 1; }
  .callback-img-wrap:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 102px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: #FFE454;
    opacity: .5;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    border-radius: 50%;
    width: 350px;
    height: 350px; }
  .callback-img-wrap img {
    width: 100%; }

footer {
  padding: 50px 0 20px;
  color: #fff;
  background: #651A16; }

.list-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 auto; }
  .list-pay li {
    margin: 0 36px 0 0; }
    .list-pay li:last-child {
      margin: 0; }
    .list-pay li a {
      max-width: 65px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.footer-box {
  margin: 0 0 60px;
  font-size: 18px; }
  .footer-box h3 {
    text-transform: uppercase;
    margin: 0 0 15px;
    color: #FFE454;
    font-size: 36px;
    font-family: "Anton", sans-serif; }
  .footer-box a {
    color: #fff; }
  .footer-box p {
    margin: 0 0 20px; }
    .footer-box p:last-child {
      margin: 0; }
  .footer-box .mail {
    margin: 0 0 20px; }

.footer-menu li {
  margin: 0 0 20px; }
  .footer-menu li:last-child {
    margin: 0; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .footer-box {
    font-size: 16px;
    margin: 0 0 40px; }
    .footer-box h3 {
      font-size: 30px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  footer {
    padding: 50px 0 70px; }
  .footer-box {
    font-size: 15px; }
  .footer-menu {
    font-size: 15px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .list-pay {
    margin: 10px 0 30px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
